body {
    background-color: #000;
    padding: 25px 8% 0 8%;
    padding-right: calc(8% - 20px); 
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto 600px auto;
    column-gap: 20px;
}