.eighthSec-title {
    grid-column: 4/10;
    grid-row: 21/21;
    align-self: end; 
    color: #FFF;
    text-align: center;
    padding: 0 10px;
    h5 {
        font-family: $bw-extra-bold;
        font-size: 45px;
        margin-bottom: 15px;
    }
    span {
        font-family: $bw-regular;
        font-size: 21px;
        line-height: 30px;
        span {
            color: #FFFC00;
        }
    }
}

.eighthSec-questions {
    grid-column: 3/10;
    grid-row: 22/22;
    align-self: end; 
    color: #afafaf;
    font-family: $bw-medium;
    font-size: 17px;
    ul {
        li {
            margin-bottom: 45px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}