.fifthSec {
    grid-column: 1/13;
    grid-row: auto;
    display: grid;
    grid-template-columns: repeat(24, 1fr); 
    grid-template-rows: 2fr 2fr 1fr 2fr; 
    .fifthSec-title-wrapper {
        grid-column: 1/25;
        grid-row: 1/2;
        align-self: center;
        h3 {
            font-size: 2.865vw;
            color: #FFFC00;
            font-family: $bw-light;
            text-align: center;

        }
        span {
            font-family: $bw-extra-bold;
        }
    }
    .fifthSec-speakers-wrapper {
        grid-column: 1/25;
        grid-row: 2/2;
        align-self: center;
        display: grid;
        grid-template-columns: repeat(6,1fr); 
        grid-template-rows: auto;
        column-gap: 3.906vw;
        grid-template-areas: 
        ". carolina jeremy paula marco .";
        .fifthSec-speaker-wrapper {
            display: flex;
            flex-direction: column;
            &:nth-child(1) {
                grid-area: carolina;
            }
            &:nth-child(2) {
                grid-area: jeremy;
            }
            &:nth-child(3) {
                grid-area: paula;
            }
            &:nth-child(4) {
                grid-area: marco;
            }
            img {
                margin-bottom: 2.083vw;
            }
            span {
                display: block;
                width: 100%;
                font-family: $bw-extra-bold;
                font-size: 1.719vw;
                color: #FFF;
                margin-bottom: 1.042vw;
                &:last-child {
                    display: inline;
                    font-family: $bw-medium;
                    font-size: 0.781vw;
                    color: #FFFC00;
                }
            }
        }
    }
    .fifthSec-button-wrapper {
        grid-column: 1/25;
        grid-row: 3/3;
        align-self: center;
        justify-self: center;
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 10px #fffc00;
        background-color: #FFFC00;
        button {
            padding: 1.042vw 3.385vw;
            color: #000;
            font-family: $bw-black;
            font-size: 1.719vw;
            background-color: transparent;
            border: none;
            text-transform: uppercase;
            cursor: pointer;
            &:focus {
                outline: 0;
                border: 0;
            }
        }
    }
    .fifthSec-texts-wrapper {
        grid-column: 8/18;
        grid-row: 4/4;
        align-self: center;
        text-align: center;
        h5 {
            color: #FFFC00;
            font-family: $bw-light;
            font-size: 45px;
            margin-bottom: 15px;
            display: block;
            font-size: 3.125vw;
            line-height: 3.823vw;
            b {
                font-family: $bw-extra-bold;
                color: #FFFC00;
                display: block;
            }
        }   
        span {
            display: block;
            font-size: 1.146vw;
            font-family: $bw-regular-italic;
            line-height: 1.781vw;
            color: #FFF;
        }
    }
}

@media (max-width: 768px) {
    .fifthSec {
        margin-top: 30vw;
        grid-column: 1/4;
        grid-row: auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr); 
        grid-template-rows: auto;
        row-gap: 8vw;
        .fifthSec-title-wrapper {
            grid-column: 2/6;
            grid-row: 1/2;
            align-self: center;
            h3 {
                font-size: 6.865vw;
                line-height: 9.865vw;
            }
        }
        .fifthSec-speakers-wrapper {
            grid-column: 1/7;
            grid-row: 2/2;
            align-self: center;
            display: grid;
            grid-template-columns: 1fr; 
            grid-template-rows: auto;
            column-gap: 3.906vw;
            padding: 0 25vw;
            grid-template-areas: 
            "carolina"
            "jeremy"
            "paula"
            "marco";
            .fifthSec-speaker-wrapper {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-bottom: 2vw;
                &:nth-child(1) {
                    grid-area: carolina;
                }
                &:nth-child(2) {
                    grid-area: jeremy;
                }
                &:nth-child(3) {
                    grid-area: paula;
                }
                &:nth-child(4) {
                    grid-area: marco;
                }
                img {
                    margin-bottom: 2.083vw;
                }
                span {
                    display: block;
                    width: 100%;
                    font-size: 3.719vw;
                    margin-bottom: 1.042vw;
                    &:last-child {
                        display: inline;
                        font-size: 2.781vw;
                    }
                }
            }
        }
        .fifthSec-button-wrapper {
            grid-column: 1/7;
            padding: 2% 2%;
            border: none;
            border-radius: 5%;
            button {
                font-size: 1.719vw;
                background-color: transparent;
                border: none;
                cursor: pointer;
            }
        }
        .fifthSec-texts-wrapper {
            grid-column: 2/6;
            grid-row: 4/4;
            align-self: center;
            text-align: center;
            h5 {
                font-size: 45px;
                margin-bottom: 15px;
                font-size: 6.125vw;
                line-height: 6.823vw;
                b {
                    display: block;
                }
            }   
            span {
                display: block;
                font-size: 3.146vw;
                line-height: 3.781vw;
            }
        }
    }
}