.firstSec {
    grid-column: 1/13;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    .firstSec-image-wrapper {
        grid-column: 8/13;
        grid-row: 1/12;
        img {
            z-index: -1;
            height: auto;
        }
    }
    
    .firstSec-titles-wrapper {
        grid-column: 2/8;
        grid-row: 3/7;
        text-align: center;
        h1 {
            margin-bottom: 1.042vw;
            font-size: 4.167vw;
            color: #fffc00;
            font-family: $bw-black;
            text-transform: uppercase;
        }
        h2 {
            font-size: 3.398vw;
            color: #FFF;
            font-family: $bw-black;
            text-transform: uppercase;
            line-height: 3.906vw;
        }
        h3 {
            font-size: 1.302vw;
            color: #fffc00;
            font-family: $isidora-semibold;
            margin-top: 0.521vw;
            letter-spacing: 0.104vw;
            line-height: 1.563vw;
        }
        button {
            font-size: 1.302vw;
            color: #000;
            font-family: $isidora-black;
            text-transform: uppercase;
            background-color: #fffc00;
            border: none;
            border-radius: 5px;
            padding: 1.302vw;
            margin-top: 1.823vw;
            box-shadow: 0 0 10px #fffc00;
            cursor: pointer;
        }
    }
    .firstSec-infos-wrapper {
        grid-column: 4/9;
        grid-row: 9/11;
        align-items: center;
        display: flex;
        justify-content: space-between;
        align-self: flex-start;
        .firstSec-local {    
            font-family: $isidora-regular;
            text-transform: uppercase;
            color: #fffc00;
            font-size: 0.885vw;
            letter-spacing: 0.5vw;
            word-spacing: 0.5vw;
            border-bottom: 1px solid #fffc00;
            line-height: 1.2vw;
        }
        
        .firstSec-date {
            font-family: $isidora-regular;
            width: 7.292vw;
            height: 7.292vw;
            border: 1px solid #fffc00;
            border-radius: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            span {
                color: #FFF;
                font-size: 2.969vw;
                font-family: $bw-extra-bold;
                &:last-child {
                    font-size: 0.781vw;
                    text-transform: uppercase;
                }
            }
        }
        
        .firstSec-adress {
            align-self: center;
            font-family: $isidora-regular;
            color: #fffc00;
            span {
                display: block;
                line-height: 1.563vw;
                font-size: 1.042vw;
                font-family: $bw-regular;
                &:first-child {
                    text-transform: uppercase;
                    font-size: 0.938vw
                }
            }
        }
    
    }    
}

@media (max-width: 768px) {
    .firstSec {
        grid-column: 1/4;
        grid-row: 1/3;
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 60% 40%;
        justify-content: center;
        align-items: center;
        .firstSec-image-wrapper {
            grid-column: 1/4;
            grid-row: 1/3;
            align-self: flex-start;
        }
        .firstSec-titles-wrapper {
            grid-column: 2/3;
            grid-row: 1/1;
            align-self: flex-end;
            h1 {
                font-size: 8.167vw;
                margin-bottom: 5.042vw;
            }
            h2 {
                font-size: 6.398vw;
                line-height: 6.906vw;
            }
            h3 {
                margin-top: 5.521vw;
                font-size: 2.3vw;
                line-height: 3vw;
            }
            button {
                margin-top: 5.823vw;
                font-size: 2.302vw;
            }
        }
        .firstSec-infos-wrapper {
            grid-column: 2/3;
            grid-row: 2/3;
            align-self: center;
            justify-self: center;
            .firstSec-local {
                margin-right: 2vw;
                font-size: 2.0vw;
            }
            .firstSec-date {
                margin-right: 2vw;
                font-size: 5.885vw;
            }
            .firstSec-adress {
                span {
                    line-height: 4vw;
                    &:first-child {
                        font-size: 2.0vw;
                    }
                    &:last-child {
                        font-size: 2.2vw;
                    }
                }
            }
        }
    }
}
