.image-wrapper {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
}

.main-words {
    grid-column: 1/8;
    grid-row: 2/2;
    align-self: self-end;
    justify-content: center;
    text-align: center;
    width: 970px;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    h1 {
        font-size: 66px;
        color: #FFF;
        font-family: $bw-black;
        text-transform: uppercase;
        line-height: 85px;
        span {
            font-size: 80px;
            color: #fffc00;
        }
    }
    h2 {
        font-size: 25px;
        color: #fffc00;
        font-family: $isidora-semibold;
        margin-top: 10px;
        letter-spacing: 2px;
        line-height: 30px;
    }
    button {
        font-size: 25px;
        color: #000;
        font-family: $isidora-black;
        text-transform: uppercase;
        background-color: #fffc00;
        border: none;
        border-radius: 5px;
        padding: 25px;
        margin-top: 25px;
        box-shadow: 0 0 10px #fffc00;
        cursor: pointer;
    }
}

.local {    
    grid-column: 2/5;
    grid-row: 4/4;
    align-self: center;
    font-family: $isidora-regular;
    color: #fffc00;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding-bottom: 10px;
    text-align: right;
    span {
        display: inline-block;
        letter-spacing: 14px;
        word-spacing: 14px;
        line-height: 25px;
        border-bottom: 1px solid #fffc00;
        padding-left: 10px;
    }
}

.data {
    grid-column: 5/5;
    grid-row: 4/4;
    align-self: center;
    justify-content: center;
    font-family: $isidora-regular;
    width: 140px;
    height: 140px;
    border: 1px solid #fffc00;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    span {
        color: #FFF;
        font-size: 55px;
        font-family: $bw-extra-bold;
        &:last-child {
            font-size: 15px;
            text-transform: uppercase;
        }
    }
}

.endereco {
    grid-column: 6/9;
    grid-row: 4/4;
    align-self: center;
    font-family: $isidora-regular;
    color: #fffc00;
    span {
        display: block;
        line-height: 30px;
        font-size: 20px;
        font-family: $bw-regular;
        &:first-child {
            text-transform: uppercase;
            font-size: 18px;
        }
    }
}

