.social-wrapper {
    display: none;
    grid-column: 2/11;
    grid-row: 24/24;
    img {

    }
    div {
        span {

        }
        img {

        }
    }
}
.contact-wrapper {
    display: none;
    grid-column: 2/11;
    grid-row: 25/25;
    color: #FFF;
    .attending {
        img {

        }
        span {

        }
    }
    .telephone-wrapper {
        color: #FFF;
        span {
    
        }
        div {
            div {
                span {
    
                }
            }
        }
    }
}

.infos {
    display: none;
    grid-column: 2/11;
    grid-row: 26/26;
    color: #FFF;
    span {

    }
}
