
.fourthSec {
    grid-column: 1/13;
    grid-row: 5/6;
    margin-top: 2.083vw;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    .fourthSec-image-wrapper {
        grid-column: 3/7;
        grid-row: 1/4;
        align-self: end;
    }
    .fourthSec-texts-wrapper {
        grid-column: 6/12;
        grid-row: 2/4;
        display: flex;
        flex-direction: column;
        h4 {
            line-height: 3.125vw;
            font-family: $bw-extra-bold;
            font-size: 2.404vw;
            color: #FFF;
            margin-bottom: 2.604vw;
            display: block;
        }
        span {
            font-size: 1.198vw;
            font-family: $bw-light;
            color: #FFFC00;
        }
    }
}


@media (max-width: 768px) {

    .fourthSec {
        grid-column: 1/4;
        grid-row: auto;
        margin-top: 2.083vw;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        .fourthSec-image-wrapper {
            grid-column: 2/6;
            grid-row: 1/1;
            align-self: end;
            padding-bottom: 31vw;
        }
        .fourthSec-texts-wrapper {
            grid-column: 1/7;
            grid-row:  1/1;
            align-self: flex-end;
            display: flex;
            flex-direction: column;
            padding: 0vw 3vw;
            h4 {
                text-align: center;
                margin-bottom: 2.604vw;
                display: block;
                font-size: 5.585vw;
                line-height: 6.906vw;
            }
            span {
                text-align: center;
                margin-top: 1.604vh;
                font-size: 4.385vw;
            }
        }
    }

}