.seventhSec {
    grid-column: 1/13;
    grid-row: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1.6fr 2.2fr;
    .seventhSec-titles-wrapper {
        grid-column: 2/6;
        grid-row: 1/1;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        // padding: 6.771vw 0;
        h5 {
            font-size: 2.344vw;
            color: #FFF;
            text-align: center;
            font-family: $bw-extra-bold;
            margin-bottom: 1.823vw;
        }
        span {
            text-align: center;
            display: inline;
            font-family: $bw-regular;
            font-size: 1.094vw;
            line-height: 1.563vw;
            color:#FFF;
        }
        b {
            color: #FFFC00;
            text-align: center;
            font-family: $bw-bold;
            font-size: 1.094vw;
        }
    }
}

.seventhSec-questions-wrapper {
    grid-column: 2/6;
    grid-row: 2/2;
    color: #afafaf;
    font-family: $bw-medium;
    font-size: 0.885vw;
    margin-bottom: 5.729vw;
    ul {
        li {
            margin-bottom: 2.344vw;
            color: #afafaf;
            font-family: $bw-medium;
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
}