.thirdSec {
    grid-column: 1/13;
    grid-row: 3/4;
    margin-top: 11.458vw;
    display: grid;
    grid-template-columns: repeat(21,1fr);
    grid-template-rows: auto;
    .thirdSec-image-wrapper{
        grid-column: 3/10;
        align-self: end;
        img {
            z-index: -1;
        }
    } 
    
    .thirdSec-texts-wrapper {
        grid-column: 12/20;
        align-self: center;
        display: flex;
        flex-direction: column;
        h2 {
            font-family: $bw-extra-bold;
            color: #FFFC00;
            font-size: 2.865vw;
        }
        p {
            font-family: $bw-regular;
            color: #FFF;
            font-size: 1.042vw;
            line-height: 1.3vw;
            margin-top: 1.5vw;
            span {
                font-family: $bw-bold;
                color: #FFFC00;
            }
        }
    
    } 

    .thirdSec-lessons-wrapper {
        grid-column: 7/17;
        align-self: center;
        margin-top: 6.250vw;
        .thirdSec-lesson {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 6.250vw;
            h3 {
                text-align: center;
                font-size: 1.819vw;
                color: #FFFC00;
                font-family: $bw-extra-bold;
                margin-bottom: 1.563vw;
            }
            p {
                text-align: center;
                font-size: 0.933vw;
                color: #FFF;
                font-family: $bw-regular;
                line-height: 1.3vw;
            }
        }
    }

}

@media (max-width: 768px) {
    .thirdSec {
        grid-column: 1/4;
        grid-row: auto;
        margin-top: 11.458vw;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: auto;
        row-gap: 5vw;
        .thirdSec-image-wrapper{
            grid-column: 2/6;
            grid-row: 1/1;
            align-self: center;
            img {
            }
        } 
        
        .thirdSec-texts-wrapper {
            grid-column: 2/6;
            align-self: center;
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            h2 {
                font-size: 4.865vw;
            }
            p {
                font-size: 3.042vw;
                line-height: 4.3vw;
                margin-top: 1.5vw;
                span {
                }
            }
        
        } 
    
        .thirdSec-lessons-wrapper {
            grid-column: 2/6;
            align-self: center;
            margin-top: 6.250vw;
            .thirdSec-lesson {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-bottom: 6.250vw;
                h3 {
                    text-align: center;
                    font-size: 3.565vw;
                    margin-bottom: 1.563vw;
                }
                p {
                    text-align: center;
                    font-size: 3.042vw;
                    line-height: 4.3vw;
                }
            }
        }
    
    }
}