.top-menu {
    z-index: 1;
    grid-row: 1/1;
    grid-column: 2/12;
    display: flex;
    justify-content: space-between;
    padding-top: 1.302vw;
    .logo {
        width: 7.292vw;
        svg {
            width: auto;
            height: auto;
        }
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 38.542vw;
        div {
            margin-right: 4.948vw;
            display: flex;
            align-items: center;
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: #FFF;
                font-family: $bw-bold;
                font-size: 0.729vw;
                letter-spacing: 0.052vw;
                cursor: pointer;
                
            }
            &:last-child {
                padding: 0.781vw 1.563vw;
                border: 1px solid #fffc00;
                border-radius: 0.260vw;
                margin-right: 0;
                a {
                    color: #fffc00;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .top-menu {
        // border: 1px solid red;
    }
}