.top-menu {
    grid-column: 2/12;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .logo {
        width: 140px;
        height: 30px;
        svg {
            width: 100%;
            height: 100%;
        }
    }

    nav {
        max-width: 752px;
        height: 47px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
            padding: 15px 0px;
            box-sizing: border-box;
            margin-right: 80px;
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: #FFF;
                font-family: $bw-bold;
                letter-spacing: 1px;
                cursor: pointer;
            }
            &:last-child {
                margin-right: 0px;
                a {
                    color: #fffc00;
                    padding: 15px 35px;
                    border: 1px solid #fffc00;
                    border-radius: 5px;
                }
            }
        }
    }
}